:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
}

button {
    background-color: #1b52e9;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 8px 0;
}

button:hover {
    background-color: #1a47cc;
}

.container {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.spinner {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
